Repository bbshih/tofu-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add bookmarklet feature for quick wishlist item addition
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  AGENTS.md
  CLAUDE.md
  apps/backend/public/wishlist/assets/index-Bu9sONS7.js
  apps/backend/public/wishlist/assets/index-C7Lgisz7.css
  apps/backend/public/wishlist/index.html
  apps/backend/public/wishlist/vite.svg
  apps/backend/src/scripts/migrate-wishlist.ts
  apps/backend/src/server.ts
  apps/backend/src/wishlist/controllers/bookmarkletController.ts
  apps/backend/src/wishlist/routes.ts
  apps/backend/src/wishlist/routes/bookmarklet.ts
  apps/wishlist-web/src/App.tsx
  apps/wishlist-web/src/pages/Bookmarklet.tsx
  apps/wishlist-web/src/pages/Dashboard.tsx
  apps/wishlist-web/src/utils/bookmarklet.ts
  openspec/AGENTS.md
  openspec/changes/add-wishlist-bookmarklet/design.md
  openspec/changes/add-wishlist-bookmarklet/proposal.md
  openspec/changes/add-wishlist-bookmarklet/specs/wishlist-items/spec.md
  openspec/changes/add-wishlist-bookmarklet/tasks.md
  openspec/project.md
Due: eslint --fix, prettier --write

Add bookmarklet deployment guide for VPS
  BOOKMARKLET_DEPLOYMENT.md
Due: prettier --write

Add migration guide for replacing old unified app
  MIGRATION_FROM_OLD_UNIFIED_APP.md
Due: prettier --write

Add fresh VPS deployment guide for first-time setup
  FRESH_VPS_DEPLOYMENT.md
Due: prettier --write

Add host-based routing to serve apps at root based on subdomain
  apps/backend/src/server.ts
Due: eslint --fix, prettier --write

Fix host-based routing to serve static files at root
  apps/backend/src/server.ts
Due: eslint --fix, prettier --write

Fix API URLs to use relative paths for production
  apps/wishlist-web/src/api/client.ts
  apps/wishlist-web/src/components/ItemCard.tsx
Due: prettier --write

Fix localStorage parsing error and enable sourcemaps for debugging
  apps/calendar-web/vite.config.ts
  apps/wishlist-web/src/contexts/AuthContext.tsx
  apps/wishlist-web/vite.config.ts
Due: prettier --write

Fix all API endpoints to include /wishlist prefix
  apps/wishlist-web/src/api/auth.ts
  apps/wishlist-web/src/api/items.ts
  apps/wishlist-web/src/api/tags.ts
  apps/wishlist-web/src/api/wishlists.ts
Due: prettier --write

Clean up old documentation and files after unified deployment
  AGENTS.md
  CHECKLIST.md
  CLAUDE.md
  DEPLOYMENT.md
  MIGRATION_FROM_OLD_UNIFIED_APP.md
Due: prettier --write

Enable Discord bot compilation by removing it from tsconfig exclude
  apps/backend/tsconfig.json
Due: prettier --write

Fix login redirect and Dashboard error handling
  apps/backend/public/wishlist/assets/index-BNotG0ch.js
  apps/backend/public/wishlist/assets/index-BNotG0ch.js.map
  apps/backend/public/wishlist/index.html
  apps/wishlist-web/src/pages/Dashboard.tsx
Due: prettier --write

Add deployment skill for unified-apps
  .claude/skills/deploy.md
Due: prettier --write

Add wishlist features: search, filters, edit, brand detection, and UI improvements
  DEPLOYMENT.md
  apps/backend/public/wishlist/assets/index-3CLwn5Wh.css
  apps/backend/public/wishlist/assets/index-B0w1KjEG.css
  apps/backend/public/wishlist/assets/index-BoGoWAsd.css
  apps/backend/public/wishlist/assets/index-BvwB4owd.css
  apps/backend/public/wishlist/assets/index-C9JWxhMx.js
  apps/backend/public/wishlist/assets/index-C9JWxhMx.js.map
  apps/backend/public/wishlist/assets/index-CTpdSQ1Y.js
  apps/backend/public/wishlist/assets/index-CTpdSQ1Y.js.map
  apps/backend/public/wishlist/assets/index-Cnclhb0w.css
  apps/backend/public/wishlist/assets/index-CumvSIpJ.js
  apps/backend/public/wishlist/assets/index-CumvSIpJ.js.map
  apps/backend/public/wishlist/assets/index-DDKdgMxG.js
  apps/backend/public/wishlist/assets/index-DDKdgMxG.js.map
  apps/backend/public/wishlist/assets/index-UudowhaW.js
  apps/backend/public/wishlist/assets/index-UudowhaW.js.map
  apps/backend/public/wishlist/assets/index-baYAVwJ4.js
  apps/backend/public/wishlist/assets/index-baYAVwJ4.js.map
  apps/backend/public/wishlist/index.html
  apps/backend/src/wishlist/services/scraperService.ts
  apps/wishlist-web/README.md
  apps/wishlist-web/src/components/EditItemModal.tsx
  apps/wishlist-web/src/components/ItemCard.tsx
  apps/wishlist-web/src/main.tsx
  apps/wishlist-web/src/pages/WishlistDetail.tsx
  apps/wishlist-web/src/utils/bookmarklet.ts
Due: eslint --fix, prettier --write

Add all items view and replace confirm dialogs with modals
  apps/backend/public/wishlist/assets/index-BDkaj1Im.js
  apps/backend/public/wishlist/assets/index-BDkaj1Im.js.map
  apps/backend/public/wishlist/assets/index-Bpc2BJky.css
  apps/backend/public/wishlist/index.html
  apps/backend/src/wishlist/controllers/wishlistController.ts
  apps/backend/src/wishlist/routes/wishlists.ts
  apps/wishlist-web/src/App.tsx
  apps/wishlist-web/src/api/wishlists.ts
  apps/wishlist-web/src/pages/AllItems.tsx
  apps/wishlist-web/src/pages/Dashboard.tsx
  apps/wishlist-web/src/types/index.ts
Due: eslint --fix, prettier --write

Add ability to edit wishlist names
  apps/backend/public/wishlist/assets/index-Chwf467K.css
  apps/backend/public/wishlist/assets/index-DHVkEXqW.js
  apps/backend/public/wishlist/assets/index-DHVkEXqW.js.map
  apps/backend/public/wishlist/index.html
  apps/wishlist-web/src/pages/Dashboard.tsx
Due: prettier --write

Improve add item UI and allow items without URLs
  apps/backend/public/wishlist/assets/index-BmY-YaUQ.js
  apps/backend/public/wishlist/assets/index-BmY-YaUQ.js.map
  apps/backend/public/wishlist/index.html
  apps/backend/src/wishlist/controllers/itemController.ts
  apps/wishlist-web/src/components/AddItemModal.tsx
  apps/wishlist-web/src/components/ItemCard.tsx
Due: eslint --fix, prettier --write

Add bookmarklet link to Dashboard navigation
  apps/wishlist-web/src/pages/Dashboard.tsx
Due: prettier --write

Add GitHub Actions workflows for automated deployment
  .github/workflows/README.md
  .github/workflows/deploy-calendar.yml
  .github/workflows/deploy-wishlist.yml
Due: prettier --write

Remove build artifacts from git tracking and update dependencies
  .gitignore
  apps/backend/public/calendar/assets/index-C5d2yjxf.css
  apps/backend/public/calendar/assets/index-CEkUg5Sp.js
  apps/backend/public/calendar/assets/index-CEkUg5Sp.js.map
  apps/backend/public/calendar/index.html
  apps/backend/public/wishlist/assets/index-DDti0q_-.js
  apps/backend/public/wishlist/assets/index-DDti0q_-.js.map
  apps/backend/public/wishlist/assets/index-TLtETr3k.css
  apps/backend/public/wishlist/index.html
  apps/backend/public/wishlist/vite.svg
  package-lock.json
Due: prettier --write

Fix GitHub Actions workflows to validate secrets before deployment
  .github/workflows/deploy-calendar.yml
  .github/workflows/deploy-wishlist.yml
Due: none

Add community store policies and bookmarklet features
  .claude/skills/deploy/SKILL.md
  apps/backend/src/scripts/migrate-wishlist.ts
  apps/backend/src/wishlist/controllers/bookmarkletController.ts
  apps/backend/src/wishlist/controllers/communityPolicyController.ts
  apps/backend/src/wishlist/controllers/storeController.ts
  apps/backend/src/wishlist/routes.ts
  apps/backend/src/wishlist/routes/bookmarklet.ts
  apps/backend/src/wishlist/routes/communityPolicies.ts
  apps/backend/src/wishlist/services/policyScraperService.ts
  apps/wishlist-web/src/api/bookmarklet.ts
  apps/wishlist-web/src/api/communityPolicies.ts
  apps/wishlist-web/src/components/ItemCard.tsx
  apps/wishlist-web/src/components/Navbar.tsx
  apps/wishlist-web/src/pages/AllItems.tsx
  apps/wishlist-web/src/pages/Bookmarklet.tsx
  apps/wishlist-web/src/pages/Dashboard.tsx
  apps/wishlist-web/src/pages/Stores.tsx
  apps/wishlist-web/src/pages/WishlistDetail.tsx
  apps/wishlist-web/src/types/index.ts
  openspec/specs/store-policy-gathering.md
Due: eslint --fix, prettier --write

Add move item between lists and shorten bookmarklet names
  apps/backend/src/wishlist/controllers/itemController.ts
  apps/wishlist-web/src/components/EditItemModal.tsx
  apps/wishlist-web/src/components/Navbar.tsx
  apps/wishlist-web/src/pages/Stores.tsx
Due: eslint --fix, prettier --write

Add create new list feature to bookmarklet
  apps/backend/src/wishlist/controllers/bookmarkletController.ts
  apps/backend/src/wishlist/routes/bookmarklet.ts
  apps/wishlist-web/src/components/Navbar.tsx
  apps/wishlist-web/src/pages/Stores.tsx
  apps/wishlist-web/src/utils/bookmarklet.ts
  openspec/specs/price-tracking-alerts.md
Due: eslint --fix, prettier --write

Fix bookmarklet to work with Amazon pages by scraping client-side
  apps/backend/src/wishlist/controllers/bookmarkletController.ts
  apps/wishlist-web/src/utils/bookmarklet.ts
Due: eslint --fix, prettier --write

Fix test failures: timezone issues, localStorage mock, and Router context
  apps/backend/src/calendar/shared/src/utils/dateHelpers.test.ts
  apps/backend/src/calendar/shared/src/utils/nlpDateParser.test.ts
  apps/calendar-web/src/test/setup.ts
  apps/calendar-web/vite.config.ts
  apps/wishlist-web/tests/unit/ItemCard.test.tsx
Due: eslint --fix, prettier --write

Fix remaining unit test failures in wishlist-web
  apps/wishlist-web/tests/unit/AddItemModal.test.tsx
  apps/wishlist-web/tests/unit/AllItems.test.tsx
  apps/wishlist-web/tests/unit/Dashboard.test.tsx
Due: none

Improve auth session handling and redirect after login
  apps/backend/src/wishlist/controllers/authController.ts
  apps/wishlist-web/src/api/client.ts
  apps/wishlist-web/src/pages/Login.tsx
  apps/wishlist-web/src/pages/Register.tsx
Due: eslint --fix, prettier --write

Add dynamic page titles during navigation
  apps/wishlist-web/src/pages/AllItems.tsx
  apps/wishlist-web/src/pages/Dashboard.tsx
  apps/wishlist-web/src/pages/Stores.tsx
  apps/wishlist-web/src/pages/WishlistDetail.tsx
  apps/wishlist-web/src/utils/metaTags.ts
Due: prettier --write

Fix policy bookmarklet using wrong API URL
  apps/wishlist-web/src/components/Navbar.tsx
  apps/wishlist-web/src/pages/Stores.tsx
Due: prettier --write

Fix bookmarklet CSP issues by using popup window
  apps/wishlist-web/src/App.tsx
  apps/wishlist-web/src/pages/BookmarkletAdd.tsx
  apps/wishlist-web/src/utils/bookmarklet.ts
Due: prettier --write

Add site-specific scrapers for IKEA/Crate & Barrel and strip tracking params from URLs
  apps/wishlist-web/src/utils/bookmarklet.ts
Due: prettier --write

Add rescrape and update feature for existing wishlist items
  apps/backend/src/wishlist/controllers/bookmarkletController.ts
  apps/backend/src/wishlist/routes/bookmarklet.ts
  apps/wishlist-web/src/pages/BookmarkletAdd.tsx
Due: eslint --fix, prettier --write

Fix JSON parsing error in bookmarklet and add Wayfair support
  apps/wishlist-web/src/pages/BookmarkletAdd.tsx
  apps/wishlist-web/src/utils/bookmarklet.ts
Due: prettier --write

Add item count and image previews to wishlists dashboard
  apps/backend/src/wishlist/controllers/wishlistController.ts
  apps/wishlist-web/src/pages/Dashboard.tsx
  apps/wishlist-web/src/types/index.ts
Due: eslint --fix, prettier --write

Add WebP conversion and thumbnail generation for images
  apps/backend/src/wishlist/controllers/wishlistController.ts
  apps/backend/src/wishlist/utils/imageDownloader.ts
Due: eslint --fix, prettier --write

Add image migration script for JPEG to WebP conversion
  apps/backend/src/scripts/migrate-images-to-webp.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/backend/src/**/*.{ts,js}
  prettier --write: (((any of: apps/backend/src/**/*.{ts,js}) or (any of: apps/wishlist-web/src/**/*.{ts,tsx,js,jsx})) or (any of: apps/seacalendar-web/src/**/*.{ts,tsx,js,jsx})) or (any of: *.{json,md})
